* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

#container {
    height: 600px;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid red;
    overflow: hidden;
}

img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateX(100%);
    transition: 1000ms;
}

img.onscreen {
    transform: translateX(0%);
    z-index: 2;
}

img.hidden-left {
    transform: translateX(-100%);
    transition: 3000ms;
}

.navigation {
    z-index: 1;
    display: flex;
    justify-content: center;
    bottom: 120px;
    position: absolute;
    width: 100%;
}

.navigation .dot {
    height: 20px;
    width: 20px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.navigation .dot.selected {
    background-color: white;
}
