* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    background-color: grey;
    grid-template-rows: 70px 1fr 30px;
}

header {
    background-color: orange;
}

footer {
    background-color: pink;
}
